.main-container {
    display: flex;
    flex-direction: row;
}
.in-editor {
    display: none;
}
.notes-list-container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 0;
    width: 50%;
}

.notes-list-item {
    list-style-type: none;
    border: solid 2px black;
}

.editor {
    width: 80vw;
    height: 80vh;
}

.inputs {
    width: 40%;
}
.note-content {
    height: 20vh;
}
.submit-note {
    display: flex;
    flex-direction: column;
}

.editor-text-area {
    width: 98%;
    height:95%;
}